@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 2 111 199;
    --color-primary-hover: 3 88 161;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-brand-500 selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom enterprise scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-brand-500 focus-visible:ring-offset-2;
  }
}
